.hero {
  padding: 2em 2em 0;
  height: 100%;
  text-align: center;
  overflow: hidden;

  h1 {
    font-size: 2rem;
    font-weight: 900;
    color: var(--mainColor);
  }
  p {
    font-size: 1rem;
    line-height: 24px;
  }

  @media screen and (min-width: 800px) {
    padding: 7em 5em 0;
    text-align: start;

    h1 {
      font-size: 4rem;
    }
  }
}
