.question {
  background: var(--mainColor)
    url('../../public/assets/destinytravelcitizenship.webp') top center
    no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  padding: 5em 1em;
  color: var(--white);

  a {
    overflow-wrap: break-word;
  }
}
